img {
	aspect-ratio: 1;
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.top-50 {
	top: 50%;
}
::placeholder {
	font-weight: 400;
	text-transform: capitalize;
}

button {
	cursor: pointer;
}
.edit-mode {
	color: #ccc;
}
